<!--<app-region></app-region>--><!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Elctions</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  
</head>

<body>
  <app-header></app-header>
 <app-abonne></app-abonne>

  <router-outlet></router-outlet>
</body> 

</html>


