<nav class="navbar nabar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue;">Angular Crud</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openModal()" class="btn btn-success">Add Employee</button>

    </div>

  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col"> First Name</th>
      <th scope="col"> Last Name</th>
      <th scope="col">Email </th>
      <th scope="col">Mobile</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <td>1</td>
    <td>Sashi</td>
    <td>Yadev</td>
    <td>SashiYadev@gmail.com</td>
    <td>6965354612</td>
    <td>FCFA 5600000000</td>
    <td>
      <button class="btn btn-info">Edit</button>
      <button class="btn btn-info mx-3 ">Delete</button>
    </td>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group mb-3">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <div class="form-group mb-3">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <div class="form-group mb-3">
            <label for="exampleInputPassword1">Email</label>
            <input type="email" formControlerName="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <div class="form-group mb-3">
            <label for="exampleInputPassword1">Mobile</label>
            <input type="text" fromControlerName="mobile" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>

          <div class="form-group mb-3">
            <label for="exampleInputPassword1">Salary</label>
            <input type="number" formControlName="salary" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer mb-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="closeModal()">Add</button>
      </div>
    </div>
  </div>
</div>



<!-- <div>
  <form  (ngSubmit)="onRegisterRegion()" [formGroup]="formValue">
    <div class="form-group">
      <label for="exampleInputPassword1">Label</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="label">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->
